.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*아래처럼 class 두개를 띄어서 사용하면(.A .B) A안에 있는 B에 적용*/
.friend .friend__avatar {
  width: 50px;
  border-radius: 36%;
}

/*아래처럼 class 두개를 붙여서 사용하면(.A.B) 두개에 동시에 적용*/
.friend__avatar.g-avatar {
  width: 70px;
}

.friend__avatar.m-avatar {
  width: 60px;
}

.friend .friend__column {
  display: flex;
  align-items: center;
}

.friend .friend__avatar {
  margin-right: 15px;
}

.friend__content .friend__name {
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}

.friend__content .friend__status,
.friend__content .friend__bottom-text,
.friend .chat__timestamp {
  opacity: 0.6;
}

.friend__content .friend__bottom-text {
  font-size: 14px;
}

.friend__content .friend__status,
.friend .chat__timestamp {
  font-size: 12px;
}

.friend .chat__timestamp {
  margin-bottom: 3px;
}

.friend .friend__now-listening {
  border: 1px solid #1fba4e;
  padding: 5px 10px;
  border-radius: 1.2em;
  font-size: 0.9em;
}

.friend__now-listening span {
  opacity: 0.5;
}

.friend__now-listening i {
  padding-left: 5px;
  font-size: 12px;
}

.friend__add-btn {
  display: flex;
  padding: 13px 15px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}
